<footer class="footer section">

    <div class="contact">
        <div class="section__title">
            <h2>{% trans %}global.footer.contact{% endtrans %}</h2>
        </div>

        <ul class="contact__info">
            <li><strong>{% trans %}global.footer.in_cuba{% endtrans %}</strong></li>
            <li><a href="tel://+53 56080390">+53 56080390</a></li>
            <li><a href="mailto:info@cubyke.com">info@cubyke.<strong>com</strong></a></li>
            <li>
                <address>
                    Cubyke Travel<br>
                    Ave 7ma, No. 8607, e/86 y 88<br>
                    Miramar-Playa<br>
                    La Habana 11300, Cuba<br>
                </address>
            </li>
        </ul>
        <ul class="contact__info">
            <li><strong>{% trans %}global.footer.in_germany{% endtrans %}</strong></li>
            <li><a href="tel://+49 68138376457">+49(0)681 38 37 64 57</a></li>
            <li><a href="mailto:info@cubyke.de">info@cubyke.<strong>de</strong></a></li>
            <li>
                <address>
                    Cubyke GmbH<br>
                    Mainzer Straße 183<br>
                    im Rückgebäude D<br>
                    66121 Saarbrücken<br>
                </address>
            </li>

        </ul>

        <ul class="contact__social">
            <li>
                <a href="http://www.facebook.com/cubyke" aria-label="Facebook profile">
                    <img class="lazyload" data-src="{{ asset('images/icons/facebook.svg') }}" alt="Facebook logo">
                </a>
            </li>
            <li>
                <a href="http://instagram.com/cubyke" aria-label="Instagram profile">
                    <img class="lazyload" data-src="{{ asset('images/icons/instagram.svg') }}" alt="Instagram logo">
                </a>
            </li>
            <li>
                <a href="https://www.tripadvisor.com/Attraction_Review-g147271-d13485075-Reviews-Cubyke-Havana_Ciudad_de_la_Habana_Province_Cuba.html" aria-label="TripAdvisor profile">
                    <img class="lazyload" data-src="{{ asset('images/icons/tripadvisor.svg') }}" alt="tripadvisor logo">
                </a>
            </li>
        </ul>
    </div>

    <div class="form-contact">
        <div class="section__title">
            <h2>{% trans %}global.footer.write_to_us{% endtrans %}</h2>
        </div>

        <form action="" class="form">
            <div class="form__item">
                <label for="name">{% trans %}global.footer.index.name{% endtrans %}:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form__item">
                <label for="email">{% trans %}global.footer.email{% endtrans %}:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form__item">
                <label for="message">{% trans %}global.footer.message{% endtrans %}:</label>
                <textarea type="text" id="message" name="message" rows="4" required></textarea>
            </div>

            <input data-sal="slide-up"
                   data-sal-delay="500"
                   type="submit"
                   id="submit"
                   class="btn btn--border" value="{% trans %}global.footer.send_message{% endtrans %}">
        </form>

        <div class="form-contact__sending">
            <h3 class="sending">{% trans %}global.footer.sending{% endtrans %}</h3>
            <h3 class="received">{% trans %}global.footer.recived_message{% endtrans %}</h3>
            <h3 class="error">{% trans %}global.footer.error{% endtrans %}</h3>
        </div>

    </div>

    <div class="legal">
        <div class="section__title">
{#            <h2>{% trans %}global.footer.legal{% endtrans %}</h2>#}
            <h2>&nbsp;</h2>
        </div>

        <ul>
            <li class="logo">
                <a href="https://www.ecoturcuba.tur.cu/">
                    <img class="lazyload blur-up" data-src="{{ asset('images/ecotur_logo.png') }}" alt="Ecotur logo">
                </a>
                <p><small>{% trans %}global.footer.represent_ecotur{% endtrans %}</small></p>
            </li>
            <li><a href="{{ path('privacy_policy') }}">{% trans %}global.footer.privacy_policy{% endtrans %}</a></li>
            <li><a href="{{ path('travel_conditions') }}">{% trans %}global.footer.travel_condition{% endtrans %}</a></li>
            <li><a href="{{ path('company_information') }}">{% trans %}global.footer.company-information{% endtrans %}</a></li>
            <li><a href="{{ path('patent') }}">{% trans %}global.footer.patent{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="copyright">
        <p>All rights reserved © 2019</p>
        <p>Developed by <a href="#">habana.tech</a></p>
    </div>

    <div class="image">
        <picture>
            <source class="lazyload blur-up"
                    media="(min-width: 1200px)"
                    sizes="100vw"
                    data-srcset="
                                {{ asset('images/footer/footer.jpg') | imagine_filter('min_width_1920') }} 1920w,
                                {{ asset('images/footer/footer.jpg') | imagine_filter('min_width_1200') }} 1200w,
                                {{ asset('images/footer/footer.jpg') | imagine_filter('min_width_1000') }} 1000w,
                                {{ asset('images/footer/footer.jpg') | imagine_filter('min_width_900') }} 900w,
                                {{ asset('images/footer/footer.jpg') | imagine_filter('min_width_800') }} 800w,
                                {{ asset('images/footer/footer.jpg') | imagine_filter('min_width_600') }} 600w
                            ">

            {{ imgTagContent(
                asset('images/footer/footer_portraid.jpg'),
                'Bikes in Havana bay',
                "100vw",
                1920)
            | raw
            }}
        </picture>
    </div>
</footer>