<header class="header">

    <div class="logo">
        <a href="{{ path('index') }}">
            <picture>
                <source srcset="{{ asset('images/logo.png.webp') }}" type="image/webp">
                <img src="{{ asset('images/logo.png') }}" alt="Cubyke logo">
            </picture>

        </a>
    </div>

    <div class="menu-icon">
        <div class="menu-icon__middle"></div>
    </div>


    <nav class="nav swing-out-top-bck">
        <ul>
            <li><a href="{{ path('index') }}#hero">{% trans %}global.header.home{% endtrans %}</a></li>
{#            <li><a href="{{ url('index') }}#tours">{% trans %}global.header.tours{% endtrans %}</a></li>#}
            <li><a href="{{ trekksoftLink }}">{% trans %}global.header.tours{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#bikes">{% trans %}global.header.bikes{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#us">{% trans %}global.header.about_us{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#blog">{% trans %}global.header.blog{% endtrans %}</a></li>
        </ul>
    </nav>

    <div class="lang">
        <ul>
            {% if app.request.get('_route')  in ['blog_entry','blog_entry_alternative'] %}
                <li class="{% if app.request.locale == 'en' %}selected{% endif %}"><a href="{{ path('blog_entry', {'_locale': 'en', '_id': id, '_name': name} ) }}">EN</a></li>
                <li class="{% if app.request.locale == 'es' %}selected{% endif %}"><a href="{{ path('blog_entry', {'_locale': 'es', '_id': id, '_name': name} ) }}">ES</a></li>
                <li class="{% if app.request.locale == 'de' %}selected{% endif %}"><a href="{{ path('blog_entry', {'_locale': 'de', '_id': id, '_name': name} ) }}">DE</a></li>
            {% else %}
                <li class="{% if app.request.locale == 'en' %}selected{% endif %}"><a href="{{ path(app.request.get('_route'), {'_locale': 'en'} ) }}">EN</a></li>
                <li class="{% if app.request.locale == 'es' %}selected{% endif %}"><a href="{{ path(app.request.get('_route'), {'_locale': 'es'} ) }}">ES</a></li>
                <li class="{% if app.request.locale == 'de' %}selected{% endif %}"><a href="{{ path(app.request.get('_route'), {'_locale': 'de'} ) }}">DE</a></li>
            {% endif %}
        </ul>
    </div>

	<div class="travel_choice_award"
	     data-sal="zoom-in"
	     data-sal-delay="1000"
	     data-sal-easing="ease-out-back">
		<img class="lazyload" src="{{ asset('images/TC_L.svg') }}" alt="tripadvisor travel choice">
	</div>

</header>
