<header class="header">
    <div class="header__logo">
        <a href="{{ path('index') }}">
            <img src="{{ asset('images/logo.png') }}" alt="">
        </a>
    </div>

    <nav class="header__nav">
        <ul>
            <li><a href="{{ path('index') }}#hero">Home</a></li>
            <li><a href="{{ url('index') }}#tours">Tours</a></li>
            <li><a href="{{ url('index') }}#us">Us</a></li>
            <li><a href="{{ url('index') }}#blog">Blog</a></li>
            <li><a href="{{ url('index') }}#partners">Partners</a></li>
            <li class="border"><a href="https://cubyke.trekksoft.com">Book</a></li>
        </ul>

        <ul>

            {% if app.request.get('_route')  in ['blog_entry','blog_entry_alternative'] %}
                <li><a href="{{ path('blog_entry', {'_locale': 'en', '_id': id, '_name': name} ) }}">English</a></li>
                <li><a href="{{ path('blog_entry', {'_locale': 'es', '_id': id, '_name': name} ) }}">Español</a></li>
                <li><a href="{{ path('blog_entry', {'_locale': 'de', '_id': id, '_name': name} ) }}">Dustch</a></li>
            {% else %}
                <li><a href="{{ path(app.request.get('_route'), {'_locale': 'en'} ) }}">English</a></li>
                <li><a href="{{ path(app.request.get('_route'), {'_locale': 'es'} ) }}">Español</a></li>
                <li><a href="{{ path(app.request.get('_route'), {'_locale': 'de'} ) }}">Dustch</a></li>
            {% endif %}

        </ul>
    </nav>


</header>