<header class="header">
    <div class="header__logo">
        <a href="{{ path('index') }}">
            <img src="{{ asset('images/logo.png') }}" alt="">
        </a>
    </div>

    <nav class="header__nav">
        <ul>
            <li><a href="{{ path('index') }}#hero">{% trans %}global.header.home{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#tours">{% trans %}global.header.tours{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#bikes">{% trans %}global.header.bikes{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#us">{% trans %}global.header.about_us{% endtrans %}</a></li>
            <li><a href="{{ url('index') }}#blog">{% trans %}global.header.blog{% endtrans %}</a></li>
        </ul>

        <ul>

            {% if app.request.get('_route')  in ['blog_entry','blog_entry_alternative'] %}
                <li><a href="{{ path('blog_entry', {'_locale': 'en', '_id': id, '_name': name} ) }}">EN</a></li>
                <li><a href="{{ path('blog_entry', {'_locale': 'es', '_id': id, '_name': name} ) }}">ES</a></li>
                <li><a href="{{ path('blog_entry', {'_locale': 'de', '_id': id, '_name': name} ) }}">DE</a></li>
            {% else %}
                <li><a href="{{ path(app.request.get('_route'), {'_locale': 'en'} ) }}">EN</a></li>
                <li><a href="{{ path(app.request.get('_route'), {'_locale': 'es'} ) }}">ES</a></li>
                <li><a href="{{ path(app.request.get('_route'), {'_locale': 'de'} ) }}">DE</a></li>
            {% endif %}

        </ul>
    </nav>


</header>