<section id="hero" class="section hero">

    <div class="hero__video">
        <video class="video" autoplay loop poster="{{ absolute_url(asset('video/video_init_frame.jpg.webp')) }}">
            <source src="{{ asset('video/hero_video.webm') }}" type='video/webm; codecs="vp9, vorbis"' />
            <source src="{{ asset('video/hero_video.mp4') }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="{{ asset('video/hero_video.ogv')}}" type='video/ogg; codecs="theora, vorbis"' />
        </video>
    </div>

    <div class="hero__content">
        <h1>{% trans %}index.hero.title{% endtrans %}</h1>
        <h2>{% trans %}index.hero.subtitle{% endtrans %}</h2>
        <div class="hero__content__action">
            <a class="btn" href="{{ trekksoftLink }}"
               data-sal="slide-up"
               data-sal-delay="500">
                {% trans %}index.hero.tour{% endtrans %}
            </a>
        </div>

        <div class="hero__content__action">
            <a class="btn btn--icon btn--transparent"
               target="_blank"
               rel="noreferrer"
               href="https://www.youtube.com/watch?v=cfg91NVKTEs"
               data-sal="slide-down"
               data-sal-delay="500">
                <img src="{{ asset('images/icons/youtube.svg') }}" alt="">
                {% trans %}index.hero.youtube{% endtrans %}</a>
        </div>

    </div>

    <div class="hero__scroll">
        <a href="#tours" aria-label="{% trans %}global.header.tours{% endtrans %}" class="icon-scroll"></a>
    </div>

</section>