<div id="team" class="team">

    <div class="team__title">
        <h3>{% trans %}index.us.team.title{% endtrans %}</h3>
    </div>

    {% for member in teamMembers %}
    <div id="member-" class="team__member {% if loop.index % 2 == 0 %} team__member--inverse {% endif %}">
            <div class="team__member__image">
                <a href="{{ path('team') }}#{{ member.id }}">
                {{ imgTagContent(
                    member.webPath,
                    member.name,
                    "(min-width: 1200px) 33vw, 50vw",
                    1920)
                | raw
                }}
                </a>
            </div>
            <div class="team__member__name">
                <a href="{{ path('team') }}#{{ member.id }}">
                <h4>{{ member.name }}</h4>
                <span>{{ member.position }}</span>
                </a>
            </div>
        </div>
    {% endfor %}

</div>