{% extends 'base.html.twig' %}

{% block title %} {{ page.getLocale('title') }} {% endblock %}
{% block meta %}
    <meta name="description" content="{{ page.getLocale('content') | truncate_html(150, '...') | striptags }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bikes') }}
{% endblock %}

{% block body %}
    <main>
        {{ include('frontend/bikes/_hero.html.twig') }}

        {{ include('frontend/bikes/_content.html.twig') }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bikes') }}
{% endblock %}
