{% extends 'base.html.twig' %}


{% block title %} {{ page.getLocale('title') }} {% endblock %}
{% block meta %}
    {% if page.getLocale('content') %}
        <meta name="description" content="{{ page.getLocale('content') | truncate_html(150, '...') | striptags }}">
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block body %}
    <main>

        {{ include('frontend/blog/_hero.html.twig') }}
        {{ include('frontend/blog/_content.html.twig') }}

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}
