{% extends 'base.html.twig' %}


{% block title %}{% trans %}index.title{% endtrans %}{% endblock %}
{% block meta %}
    <meta name="description" content="{% trans %}index.meta.description{% endtrans %}">

    <link rel="preload"
          href="https://www.tripadvisor.com/wejs?uniq=25&locationId=13485075&lang={{ lang }}&border=false&display_version=2&wtype=selfserveprop&rating=true&nreviews=4&writereviewlink=true&popIdx=true&iswide=false"
          as="script">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
    {{ encore_entry_link_tags('index_no_critical')
    | replace({'rel="stylesheet"': 'rel="preload" as="style" onload="this.onload=null;this.rel=\'stylesheet\'"'}) | raw  }}
{% endblock %}

{% block body %}
    <main>
        {{ include('frontend/index/_hero.html.twig') }}

        {{ include('frontend/index/_tours.html.twig') }}

        {{ include('frontend/index/_reviews.html.twig') }}

        {{ include('frontend/index/_bikes.html.twig') }}

        {{ include('frontend/index/_us.html.twig') }}

        {{ include('frontend/index/_blog.html.twig') }}

{#        <div id="inspirock-attraction-widget-581763">See the best places to go in Havana with a plan including <a href="https://www.inspirock.com/cuba/havana/cubyke-a4512434219" target="_blank">Cubyke</a></div><script src="https://www.inspirock.com/widget/attraction.js?buttonColor=%23c53442&widget-id=inspirock-attraction-widget-581763&v=1&trip-planner-domain=www.inspirock.com&attraction-id=4512434219&buttonTextColor=%23FFFFFF&locale=en-US&buttonBorderRadius=null" async></script>#}

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
    {{ encore_entry_script_tags('index_no_critical') }}
{% endblock %}
