{% extends 'base.html.twig' %}


{% block title %}{% trans %}travel_conditions.title{% endtrans %}{% endblock %}
{% block meta %}
    <meta name="description" content="{% trans %}travel_conditions.meta.description{% endtrans %}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('travel_conditions') }}
{% endblock %}

{% block body %}
    <main>
        {{ include('frontend/travel_conditions/_hero.html.twig') }}

        {{ include('frontend/travel_conditions/_content.html.twig') }}

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('travel_conditions') }}
{% endblock %}
