<section class="content">
    <div class="content__text">

        {{ page.getLocale('content') | raw }}

    </div>

    <div class="content__image content__image--two">
        <div class="content__image__item">
            {{ imgTagContent(
                asset('images/pages/tours/campo.png'),
                '',
                "100vw",
                1920)
            | raw
            }}
        </div>
        <div class="content__image__item">
            {{ imgTagContent(
                asset('images/pages/tours/vinales.png'),
                '',
                "100vw",
                1920)
            | raw
            }}
        </div>
        <div class="content__image__item">
            {{ imgTagContent(
                asset('images/pages/tours/canasi.jpg'),
                '',
                "100vw",
                1920)
            | raw
            }}
        </div>
        <div class="content__image__item">
            {{ imgTagContent(
                asset('images/pages/tours/bahia.jpg'),
                '',
                "100vw",
                1920)
            | raw
            }}
        </div>
    </div>

</section>